.create {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: $background-color;

    .content {
        max-width: $content-large;
        margin: auto;

        .title {
            padding-bottom: 10px;
            border-bottom: 2px solid rgba(128, 128, 128, 0.281);
            margin-bottom: 30px;
            text-align: center;

            h1 {
                margin: 0;
                color: gray;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}