$main-color: black;
$primary-text-color: black;
$background-color: #efefef;
$info-color: rgb(0, 115, 160);
$success-color: rgb(0, 160, 0);
$error-color: rgb(187, 0, 78);

$content-large: 1024px;
$card-size: calc(($content-large / 4) - 15px);