.footer {
    width: 100%;

    .content {
        max-width: $content-large;
        margin: auto;

        .info {
            display: flex;
            height: 150px;
            justify-content: space-between;

            .about {
                width: 350px;

                img {
                    opacity: 0.6;
                    height: 50px;
                }

                p {
                    color: gray;
                }
            }

            .box-right {
                display: flex;
                gap: 50px;

                h2 {
                    margin: 0;
                    margin-bottom: 20px;
                    color: gray;
                    text-transform: uppercase;
                    font-size: 20px;
                }

                p {
                    margin: 0px;
                    color: gray;
                }

                .contact {
                    font-weight: bold;
                }

                .social {
                    .icons {
                        display: flex;
                        justify-content: space-around;

                        a {
                            text-decoration: none;
                            font-size: 25px;
                            color: white;

                            .icon {
                                background-color: rgba(128, 128, 128, 0.705);
                                height: 40px;
                                width: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }
        }

    }

    .copy {
        background-color: $background-color;
        color: gray;
        font-weight: bold;
        padding: 10px 0px;

        p {
            max-width: $content-large;
            margin: auto;
        }
    }
}